img {
    height: 100px;
    width: auto;
}

.container-fluid {
    padding: 15px;
    background-color: black;
}

.navbar {
    background-image: linear-gradient(rgb(98, 129, 111),rgb(131, 122, 106));
    border: double white 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin-bottom: 2%;
    margin-top: .5%;
}

h1 {
    font-family: 'Modak', cursive;
    margin-bottom: 0px;
    color: rgb(22, 21, 21);
}

body {
    background-color: black;
}

td {
    background-image: linear-gradient(rgb(98, 129, 111),rgb(131, 122, 106));
}

table {
    border: solid white 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.buttonStyle {
    width: 10%;
    background-image: linear-gradient(to bottom, #aaa8a8, #646464);
    color: black;
    border: solid white 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.buttonStyle:hover {
    border: solid black 2px;
    font-family: "Pacifico", cursive;
}

button:hover {
    background-image: linear-gradient(to bottom, #706e6e, #262627);
    color: #f3f3f3;
    border-color: black;
    /* font-family: "Pacifico", cursive; */
}

#signUp {
    background-image: linear-gradient(to bottom, #aaa8a8, #646464);
    color: black;
    border: solid white 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#signUp:hover {
    background-image: linear-gradient(to bottom, #706e6e, #262627);
    color: #f3f3f3;
    border-color: black;
    font-family: "Pacifico", cursive;
}

tr, tbody{
    border: solid black 2px;
}

#searchResults {
    border: solid black 1px;
}

tbody {
    max-width: 95%;
}

th {
    
    font-weight: bold;
    background-image: linear-gradient(rgb(98, 129, 111),rgb(131, 122, 106));
    color: black;
}

#magnify {
    height: 40px;
    width: auto;
}

#resultTable, #resultThead, #titleTr{
    border:double white 4px;
}

th {
    border:solid white 2px;
}

.titleTh {
    color: black;
}

td {
    color: white;
}

tr {
    border:solid white 2px;
}

.modal-head {
    background-image: linear-gradient(rgb(98, 129, 111),rgb(131, 122, 106));
    color: black;
    text-align: center !important;
}

#myModal {
    text-align: center;
    margin-top: 15%;
}

.modal-content {
    border: double white 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

h4 {
    color: rgb(12, 12, 12);
}

.modalTTop {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.modalTBottom {
    padding-bottom: 10px;
}

.modalButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalB {
    margin-bottom: 5px;
    width: 100px;
    height: auto;
}

#indexWrap {
    margin-left: 3%;
    margin-right: 3%;
}